@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap");
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .font-geist {
    font-family: "Geist", sans-serif;
  }
  .font-geist-mono {
    font-family: "Geist Mono", monospace;
  }
}

:root {
  --bg: #f8f8f8;
  --text: #0b0b0b;
  --primary: 0 86 164;
  --muted: 100 100 100;
}

.dark {
  --bg: #040609;
  --text: #eeeeee;
  --primary: 0 140 117;
  --muted: 100 100 100;
}


@theme{
  --color-primary: rgb(var(--primary));
  --color-muted: rgb(var(--muted))
}
.btn {
  @apply px-4 py-2 flex items-center justify-center rounded-lg transition-colors;
}
.form-card{
  @apply flex flex-col gap-6 rounded-xl border border-gray-500/30 py-6 px-6 shadow-sm w-full max-w-md;
}
.article-form-card{
  @apply flex flex-col gap-6 rounded-xl border border-gray-500/30 py-6 px-6 shadow-sm w-full max-w-5xl;
}
.input-label{
  @apply font-semibold text-sm capitalize;
}
.input{
  @apply outline-none bg-gray-500/5 border border-gray-500/20 focus:ring-3 focus:ring-primary/50 px-3 py-1 rounded-lg transition-[color,box-shadow] duration-300;
}


.btn-primary {
  @apply bg-primary text-white font-semibold capitalize py-2 px-4 rounded-lg hover:bg-primary/90 transition-all;
  /* @apply dark:bg-blue-400 dark:text-black dark:hover:bg-blue-500; */
}
.btn-sec{
  @apply hover:bg-green-600/80 dark:hover:bg-green-900/80 font-semibold rounded-lg transition-all hover:text-white
}